@import 'tailwindcss';

@theme {
  --color-white: #fff;
  --color-orange: #ffb548;
  --color-dark: #1a1917;
  --color-black: #000;
  --color-gray-border: rgba(151, 151, 151, 0.5);
  
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-serif: 'Bebas Neue', sans-serif;
  
  --font-family-base: 'Open Sans', sans-serif;
  --font-family-accent: 'Bebas Neue', sans-serif;
}

@layer base {
  :root {
    --container-padding-x: 15px;
    --container-width: 1185px;
  }
  
  body {
    font-family: var(--font-family-base);
  }
}

@layer utilities {
  .hover-orange:hover {
    color: var(--color-orange);
  }
  
  .hover-bg-orange:hover {
    background-color: var(--color-orange);
  }
  
  .border-gray {
    border-color: var(--color-gray-border);
  }

  .font-base {
    font-family: var(--font-family-base);
  }
  
  .font-accent {
    font-family: var(--font-family-accent);
  }
}

.c {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}